.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  
 // Custom 


.theorem
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  

  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    background-color #eee
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer

@css {
  .custom-block {
    @apply bg-background-primary m-4 p-4 shadow
  }
  .custom-block.tip {
    @apply rounded 
  }
  .custom-block.warning {
    @apply border-l-4 border-accent
  }
  .custom-block.danger {
    @apply border-4 border-accent  px-4 py-3 rounded relative
  }
}

